<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Nancy" version="0.16.1" targetFramework="net452" />
  <package id="Nancy.ViewEngines.NHaml" version="0.0.1" targetFramework="net452" />
  <package id="System.Web.NHaml" version="4.0.12" targetFramework="net452" />
</packages>